@import "./logo";
@import "./mobile-menu";

.header {
    border-bottom: 1px solid #ECECEC;
    height: 60px;

    @media screen and (max-width: 767px) {
        
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background-color: #fff;
    }

    @media screen and (min-width: 768px) {
        height: 80px;
    }
}


.header>.container {
    
    align-items: center;

    @media screen and (min-width: 768px) {
        display: flex;

    }
    
}

.main-navigation {
    
    @media screen and (max-width: 767px) {
        position: relative;
        max-width: 100%;
        display: flex;
        align-items: center;
        height: 59px;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    &__list {
        letter-spacing: var(--secondary-leter-spacing);
        margin-top: 0;
        
        @media screen and (min-width: 768px) {
            margin-left: 88px;
            display: flex;
        }
        @media screen and(min-width:1200px) {
            margin-left: 93px;
        }
    }

    &__item {
        position: relative;
        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__link {
        display: block;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        text-decoration: var(--main-text-decor);
        transition: color var(--transition);
        color: #212121;

        &--active {
            @media screen and (max-width: 1199px) {
                color: #2196f3;}
        }

        // :nth-child(1) {
        //     margin-top: 48px;
        // }
        // @media screen and (max-width: 767px) {
        //     &:not(:last-child) {
        //         padding-bottom: 32px;
        //     }
        // }
        
        &:hover,
        &:focus {
            color: var(--primary-txt-clr);
        }

        @media screen and (min-width: 768px) {
            
            font-size: 14px;
            line-height: 1.33;
            padding-top: 32px;
            
            &::after {
                position: absolute;
                bottom: 1px;
                right: 0;
                content: '';
                display: inline-flex;
                width: 100%;
                height: 4px;
                background-color: #2196f3;
                border-radius: 2px;
                transform: scale(0);
                opacity: 0;
                transition: transform var(--transition),
                    opacity var(--transition);

                @media screen and (min-width: 1200px) {
                    bottom: 0;
                }
            }
        }
        
        @media screen and(min-width:1200px) {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.02em;
        }
    }

    &__link--current {
        &::after {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.main-contacts {
    
    margin-top: 45px;
    margin-bottom: 45px;
    
    @media screen and (min-width: 450px) {
        margin-top: 276px;
        margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: 768px) {
        margin-left: 84px;
        margin-top: 0;
        padding: 21px 0;
    }
    
    @media screen and(min-width:1200px) {
        margin-left: 305px;
        display: flex;
    }

    &__item {
        
        margin-bottom: 32px;
        
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
        
        @media screen and(min-width:1200px) {
            &:not(:last-child) {
                margin-right: 30px;
                margin-bottom: 0;
            }
        }
    }

    &__link {
        display: inline-flex;
        align-items: center;
        text-decoration: var(--main-text-decor);

        
            font-style: normal;
            font-weight: 500;
            font-size: 27px;
            line-height: 40px;
            letter-spacing: 0.02em;
            color: #2196F3;

            @media screen and(min-width:471px) {
                font-size: 34px;
            }
        &--inverce {
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: #757575;
        }
        
        @media screen and(min-width:768px) {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: #757575;
            transition: color var(--transition);
        }
        @media screen and(min-width:1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
            font-size: 14px;
            line-height: 1.14;
        }

        &:hover,
        &:focus {
            color: var(--primary-txt-clr);
            fill: var(--primary-txt-clr);
        }
    }

    &__icon {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            margin-right: 8px;
            height: 12px;
            width: 16px;
            fill: currentColor;
        }
        
        @media screen and(min-width:1200px) {
            margin-right: 10px;
        }
    }

    &__icon--alteration {
        height: 16px;
        width: 10px;
        fill: currentColor;

        @media screen and (min-width: 768px) {
            margin-right: 8px;
        }
        @media screen and(min-width:1200px) {
            margin-right: 10px;
        }
    }
}
