.form {

    &__checkbox {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;

        &:checked+.form__checkbox-icon {
            background-color: #2196F3;
            border-color: #2196f3;
            background-image: url(../images/check2.svg);
            background-size: contain;
            background-origin: border-box;
        }
    }

    &__check-link {
        text-decoration: none;
        color: #2196f3;
        text-decoration: underline;
        margin-left: 4px;
    }

    &__checkbox-icon {
        width: 16px;
        height: 15px;
        margin-right: 8px;
        flex-shrink: 0;
        border-radius: 2px;
        border: 2px solid #212121;
    }
    
}
