:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;

    --main-font-sz: 14px;
    --secondary-font-sz: 16px;
    --primary-font-sz: 36px;
    --fourth-font-sz: 18px;

    --main-font-weight: 500;
    --secondary-font-weight: 700;
    --primary-font-weight: 400;

    --main-leter-spacing: 0.03em;
    --secondary-leter-spacing: 0.02em;
    --primary-leter-spacing: 0.06em;

    --main-txt-clr: #212121;
    --secondary-txt-clr: #757575;
    --primary-txt-clr: #2196f3;
    --color-rdba: rgba(255, 255, 255, 0.6);
    --fill-color: #afb1b8;

    --main-line-hght: 1.14;
    --secondary-line-hght: 1.17;
    --primary-line-hght: 1.71;
    --fourth-line-hght: 1.19;

    --main-address__link: #ffffff;
    --secondary-address__link: #2f303a;

    --main-text-decor: none;
    --project-border-color: #EEEEEE;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}